ul {
  /* border: 3px solid black; */
  margin: 0;
  padding: 0;

  background-color: teal;

  list-style-type: none;
  user-select: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 50px;

  background-color: white;
  background-image: url("./grid-white.png");
  background-size: 100px;

  cursor: pointer;
}

li:nth-child(odd) {
  background-color: seashell;
  background-image: url("./grid-seashell.png");
  background-size: 100px;
}

li.dragged {
  position: relative;

  box-shadow: 0 2px 16px red;
  opacity: 0.9;
}
